[credential]
	helper = store --file ~/.git-credentials
[user]
	email = sagar.rabadiya@motadata.com
	name = sagar rabadiya
[core]
	autocrlf = input
	fileMode = false
[push]
	default = current
[http]
	sslVerify = false
